.svg-container {
    width: 180px;
    height: 150px;
    background-image: url('images/logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
@font-face {
    font-family: 'Cinzel';
    src: url('\\fonts\\cinzel\\Cinzel-VariableFont_wght.ttf') format('ttf')
    font-weight: normal;
    font-style: normal;
}

.cinzel-font {
    font-family: 'Cinzel', serif;
}

.btn-outline-primary {
    --bs-btn-color: #F1D410;
    --bs-btn-border-color: #F1D410;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #FFEA5F;
    --bs-btn-hover-border-color: #FFEA5F;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #F1D410;
    --bs-btn-active-border-color: #F1D410;
    --bs-btn-disabled-color: #F1D410;
    --bs-btn-disabled-border-color: #F1D410;
    font-family: 'Georgia', serif;
}

.btn-primary {
    --bs-btn-color: #000;
    --bs-btn-bg: #F1D410;
    --bs-btn-border-color: #F1D410;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #FFEA5F;
    --bs-btn-hover-border-color: #FFEA5F;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #F1D410;
    --bs-btn-active-border-color: #F1D410;
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #F1D410;
    --bs-btn-disabled-border-color: #F1D410;
    font-family: 'Georgia', serif;
}

.nav-link {
    font-family: 'Georgia', serif;
    font-size: 20px;
}

.nav-tabs {
    --bs-nav-tabs-link-active-color: #fff;
    --bs-nav-tabs-link-active-bg: #1A4682;
    --bs-nav-tabs-link-active-border-color: #fff;
    --bs-nav-tabs-border-color: #1A4682;
}
.nav {
    --bs-nav-link-color:#fff;
    --bs-nav-link-hover-color: #fff;
}
#carouselExampleControls {
    width: 100%;
    
}

body {
    background-color: #13325B;
}

.description-slide {
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    font-family: 'Georgia', serif;
}

.articles {
    color: #fff;
}



.footer-text {
    color:#fff;
}

.img-container {
    height: 380.14px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

.text-justify {
    text-align: justify;
}

hr {
    margin: 1rem 0;
    color: inherit;
    background-color: #fff;
    border: 0;
    opacity: 0.25;
}

.panel-footer.panel-custom {
    background: red;
    color: white;
}

.article-text {
    font-family: 'Georgia', serif;
}

.bg-primary {
    background-color: #13325B !important;
}

.border-danger {
    border-color: #fff !important;
}

.table {
    --bs-table-bg: #13325B;
    --bs-table-color: #fff;
}